
.tile-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .tile {
    width: 50px !important;
    height: 50px !important;
    background-color: grey;
    margin: 3px !important;
    border-radius: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    text-transform: capitalize !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 30px !important;
    font-weight: bold !important;
  }
  .input input {
    font-size: 30px !important; /* Adjust the font size as needed */
    align-items: center !important
  }

  .image{
    margin-top: 20px;
    height: 150px !important;
  }

  .thumbs-img{
    width: 400px;
  }
  